<%- include(`./partials/header`); -%>

<header>
    <div class="meatpies">
        <img src="/" alt="picture of meatpies">
    </div>
    <div class="heading">
        <h2>Meatpie Recipes</h2>
        <h3>by Ronke Jimoh</h3>
        <a href="/node_express_jwt_auth/views/meatpie.ejs" class="btn">view Recipes</a>
    </div>
</header>

<%- include (`./partials/footer`) -%>