<%- include(`node_express_jwt_auth/views/partials/header`); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/" alt="meatpie picture">
        <h4>Milky meatpie</h4>
        <p>meat, carrot, potatoes, milk</p>
    </li>
</ul>